* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 5% 80% 5%;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}

.menu ul,
.menu li {
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  white-space: nowrap;
}

.menu {
    margin-right: -30px;
}

.logo  {
    display: grid;
    align-items: center; 
    justify-items: start;
    padding: 0px;
    margin-left: -15px;
}


.sidebar {
  background-color: #C50208;
  grid-row: 2 / 4;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  height: 200px;
  display: grid;
  align-items: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  height: 200px;
  display: grid;
  align-items: center;
}

.nav {
  background-color: #C50208;
  display: grid;
  align-items: center;
}

.nav ul {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;  
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / 3;
  display: grid;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
}